{{>header}}
<title>Labsky - Contact</title>
{{>navbar}}

{{>hemburger}}


<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="display-6 mb-3">Have Any Query? Feel Free To Contact Us</h1>

        </div>
        <div class="row contact-info position-relative g-0 mb-5">
            <div class="col-lg-6">
                <a href="tel:+0123456789" class="d-flex justify-content-lg-center bg-primary p-4">
                    <div class="icon-box-light flex-shrink-0">
                        <i class="bi bi-phone text-dark"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-white">Call Us</h5>
                        <h2 class="text-white mb-0">+91 9720782485</h2>
                    </div>
                </a>
            </div>
            <div class="col-lg-6">
                <a href="mailto:info@example.com" class="d-flex justify-content-lg-center bg-primary p-4">
                    <div class="icon-box-light flex-shrink-0">
                        <i class="bi bi-envelope text-dark"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-white">Mail Us</h5>
                        <h2 class="text-white mb-0">sainiankul225@gmail.com</h2>
                    </div>
                </a>
            </div>
        </div>
        {{#if show}}
        <p class="text-success ">Your Inquiry Has Been Submitted</p>
        {{/if}}
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">

                <form method="post" action="/contact-us">
                    <div class="row g-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name">
                            <label for="name">Your Name</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="number" name="number"
                                    placeholder="Your Name">
                                <label for="name">Phone Number</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="Your Email">
                                <label for="email">Your Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" name="subject"
                                    placeholder="Subject">
                                <label for="subject">Subject</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a message here" id="message"
                                    name="message" style="height: 200px"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary py-3 px-5 w-100" type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div style="max-width:100%;list-style:none; transition: none;overflow:hidden;width:500px;height:500px;">
                    <div id="google-maps-display" style="height:100%; width:100%;max-width:100%;"><iframe
                            style="height:100%; width:100%; border:0;" frameborder="0"
                            src="https://www.google.com/maps/embed/v1/place?q=sec+135+noida&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
                    </div><a class="our-googlemap-code" href="https://www.bootstrapskins.com/themes"
                        id="authmaps-data">premium bootstrap themes</a>
                    <style>

                    </style>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->


{{>footer}}